/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
body{
    font-family: Poppins;
    background-color: #E5E5E5;;
}
body h5{
    font-family: Roboto;
}
/* header-section */

.navbar-brand img{
    width: 40.42px;
    height: 51px;
    left: 285px;
    top: 26px;
}
.navbar p{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.navbar-brand{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.navbar img{
    width: 51px;
    height: 51px;
}
.nav-link{
    color: #FFFFFF;;
}
/* .nav-item{ */
    /* padding-top: 5px; */
/* } */
/* .l-name{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
} */
/* main section */
.t-player{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
}
.top-player{
    background: #FFFFFF;
    border-radius: 5px;
}
.player-content img{
    width: 56px;
}
.player-content p{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
/* blogs */
.blog-content img{
    width: 177px;
}
.blog-content img h3{
    font-weight: 500;
    font-size: 35px;
    line-height: 34px;
    color: #000000;
}
.blog-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
}
.blog-content p span{
    color: #562EFF;
}
/* course */
.lates-course{
    background: #FFFFFF;
    border-radius: 5px;
}
.card{
    border-radius: 10px;
    filter: drop-shadow(0px 5.34229px 13.3557px hsla(0, 0%, 0%, 0.124));
    /* box-shadow: rgba(0, 0, 0, 0.25); */
}
.card-body p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14.6913px;
    line-height: 17px;
    color: #ED6B4F;
}
.card-body ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.card-body ul li{
    color:#FFC014;
}
.rating ul li{
    background: #FFE4E8;
    color: #ED6B4F;
    border-radius: 50px;
    height: 29.38px;
    width: 94.83px;
}